<!DOCTYPE html>
<html lang="en" ng-app="queComemos-usuarios">
<head>
    <meta charset="UTF-8">
    <title>Qué Comemos? - Home</title>
    <link rel="stylesheet" type="text/css" href="../css/login.css">

    <!-- JQUERY -->
    <script src="../node_modules/jquery/dist/jquery.min.js"></script>

    <!-- BOOTSTRAP -->
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap-theme.min.css">
    <script src="../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>

    <script src="../node_modules/underscore/underscore-min.js"></script>

    <!-- ANGULAR -->
    <script src="../node_modules/angular/angular.min.js"></script>

    <!-- BOOTBOX (dialogos de confirmacion) http://bootboxjs.com/ -->
    <script src="../node_modules/bootbox/bootbox.min.js"></script>

    <!-- ANGULAR  -->
    <script src="../node_modules/angular-animate/angular-animate.js"></script>

    <!-- LOADING BAR -->
    <script src="../node_modules/angular-loading-bar/build/loading-bar.min.js"></script>
    <link rel="stylesheet" href="../node_modules/angular-loading-bar/build/loading-bar.min.css" />

</head>
<body ng-controller="home_controller as homeCtrl">

<div class="container">
    <div class="panel panel-title" style="opacity:0.8;">
		<h3 align="center">¿Qué Comemos?</h3>
	</div>
	 <div class="panel panel-primary" style="opacity:0.75;">
		<ul class="nav nav-tabs nav-justified">
		  <li role="presentation"><a href="home.html">Home</a></li>
		  <li role="presentation"><a href="perfilUsuario.html">Perfil</a></li>
		  <li role="presentation"><a href="index.html">Recetas</a></li>
		</ul>
  	</div>
</div> 

<!-- Scripts -->
<script src="../js/routes.js"></script>
<script src="../js/usuarios_modules.js"></script>
<script src="../js/services.js"></script>

</body>
</html>