<div class="container"  style="width:500px;text-align: center;">
        <div class="card card-container">
            <img id="profile-img" class="profile-img-card center-block" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
            <p id="profile-name" class="profile-name-card"></p>
            <form class="form-signin">
                <span id="reauth-email" class="reauth-email"></span>
                <input type="text" id="inputUser" ng-model="loginCtrl.credentials.username" class="form-control" placeholder="Usuario" required autofocus>
                <input type="password" id="inputPassword" ng-model="loginCtrl.credentials.password" class="form-control" placeholder="Contraseña" required>
                <div id="remember" class="checkbox">
                    <label>
                        <input type="checkbox" value="remember-me">Recordarme
                    </label>
                </div>
                <input class="btn btn-lg btn-primary btn-block btn-signin" type="submit" ng-click="loginCtrl.ingresar()" value="Ingresar" />
                <p class="ng-hide" ng-show="loading"><img src="https://app.userapp.io/img/ajax-loader-transparent.gif"></p>

            </form><!-- /form -->

            <div class="alert alert-danger animate-repeat" ng-repeat="error in loginCtrl.errors">{{error}}</div>

            <a href="#" class="forgot-password">
                Olvide mi contraseña
            </a>
        </div><!-- /card-container -->
</div><!-- /container -->