<!DOCTYPE html>
<html lang="en" ng-app="queComemos-usuarios">
<head>
    <meta charset="UTF-8">
    <title>Qué Comemos - Perfil de Usuario</title>
    <link rel="stylesheet" type="text/css" href="../css/login.css">

    <!-- JQUERY -->
    <script src="../node_modules/jquery/dist/jquery.min.js"></script>

    <!-- BOOTSTRAP -->
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap-theme.min.css">
    <script src="../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>

    <script src="../node_modules/underscore/underscore-min.js"></script>

    <!-- ANGULAR -->
    <script src="../node_modules/angular/angular.min.js"></script>

    <!-- BOOTBOX (dialogos de confirmacion) http://bootboxjs.com/ -->
    <script src="../node_modules/bootbox/bootbox.min.js"></script>

    <!-- ANGULAR  -->
    <script src="../node_modules/angular-animate/angular-animate.js"></script>

    <!-- LOADING BAR -->
    <script src="../node_modules/angular-loading-bar/build/loading-bar.min.js"></script>
    <link rel="stylesheet" href="../node_modules/angular-loading-bar/build/loading-bar.min.css" />

</head>

<body data-ng-controller="UsuarioController as profileCtrl">


<!-- Main content -->

<div class="container">
<div class="panel panel-default" style="opacity:0.8;">
<div class="panel-heading">
		<span class="glyphicon glyphicon-user"></span>
		Perfil de Usuario</div>
	<div class="panel-body">		
		<div class="col-lg-6"> <!-- Left panel -->
			<div class="row">
				<div class="col-lg-6">
					<div class="panel-title">
					<h4>Nombre</h4>
					</div>
					<h6>{{profileCtrl.nombre}}</h6>
				</div>
			</div>
				
			<div class="row">
				<div class="col-lg-6">
					<div class="panel-title">
					<h4>Complexión</h4>
					</div>
					<h6>{{profileCtrl.loggedUser.complexion}}</h6>
				</div>
			</div>
			
			<div class="row">
				<div class="col-lg-7">
					<div class="panel-title">
					<h4>Preferencias Alimenticias</h4>
					</div>
					<select multiple class="form-control"  ng-options="preferencias in profileCtrl.preferenciasAlimentarias"></select>
				</div>
			</div>
			
			<div class="row">
				<div class="col-lg-7">
					<div class="panel-title">
					<h4>Condiciones Preexistentes</h4>
					</div>
					<select multiple class="form-control" no-options="condiciones in profileCtrl.condicionesPreexistentes"></select>
				</div>
			</div>
		</div> <!-- /Left panel -->
		
		
		
		<div class="col-lg-6"><!-- Right panel -->
		<div class="row">
			<div class ="col-lg-3">
				<div class="panel-title">
				<h4>Sexo</h4>
				</div>
				<h6>{{profileCtrl.loggedUser.sexo}}</h6>
			</div>
			<div class ="col-lg-5">
				<div class="panel-title">
				<h4>Fecha de Nacimiento</h4>
				</div>
				<h6>{{profileCtrl.loggedUser.fechaNacimiento | date:'dd/MM/yyyy'}}</h6>
			</div>
		</div> <!-- /first row -->
		
		<div class="row">
			<div class ="col-lg-3">
				<div class="panel-title">
				<h4>Altura</h4>
				</div>
				<h6>{{profileCtrl.loggedUser.altura}}</h6>
			</div>
						
			<div class ="col-lg-3">
				<div class="panel-title">
				<h4>Peso</h4>
				</div>
				<h6>{{profileCtrl.peso}}</h6>
			</div>
						
			<div class ="col-lg-3">
				<div class="panel-title">
				<h4>IMC</h4>
				</div>
				<h6 ng-class="{'IMC-Alto': {{profileCtrl.loggedUser.imc.esAlto()}},
								'IMC-Medio': {{profileCtrl.loggedUser.imc.esMedio()}},
								'IMC-Bajo': {{profileCtrl.loggedUser.imc.esBajo()}}}">
				{{profileCtrl.loggedUser.imc}}</h6>
			</div>		
		</div> <!-- /second row -->
		
		<!-- Third Row -->
		<div class="row">
			<div class="col-lg-7">
				<div class="panel-title">
				<h4>Comidas que le Disgustan</h4>
				</div>
				<select multiple class="form-control"  ng-options="comidas in profileCtrl.comidasQueDisgustan"></select>
			</div>
		</div>  <!-- /third row -->
		
		<!-- Fourth Row -->
		<div class="row">
			<div class="col-lg-6">
				<div class="panel-title">
				<h4>Rutina</h4>
				</div>
				<h6>{{profileCtrl.loggedUser.rutina}}</h6>
			</div>
		</div>  <!-- /fourth row -->
		
	
	</div>	<!-- /Right panel -->
		
		
		<div class="row"> <!-- Botom Panel -->
			<div class="col-lg-12">
				<div class="panel-title">
				<h4>Recetas Favoritas</h4>
				</div>
				<select multiple class="form-control" ng-options="receta in profileCtrl.recetasFavoritas"></select>
			</div>
		</div> <!-- /Botom Panel -->
		
		
		<br>
		<div class="container" align="center">
			<button type="button" class="btn btn-default btn-lg" ng-click="go()">Volver</button>
		</div>
	</div>
</div>
</div>

<!-- /Main content -->


<!-- Scripts -->
<script src="../js/routes.js"></script>
<script src="../js/usuarios_modules.js"></script>
<script src="../js/services.js"></script>

</body>
</html>