<!DOCTYPE html>
<html lang="en" ng-app="queComemosApp">

<head>
	<meta charset="utf-8">
	<title>Bienvenido a ¿Qué comemos?</title>

	<!-- RECETA STYLE -->
	<link rel="stylesheet" href="/css/receta.css">

	<!-- JQUERY -->
	<script src="/node_modules/jquery/dist/jquery.min.js"></script>

	<!-- BOOTSTRAP -->
	<link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap-theme.min.css">
	<script src="/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>

	<script src="/node_modules/underscore/underscore-min.js"></script>

	<!-- ANGULAR -->
	<script src="/node_modules/angular/angular.min.js"></script>

	<!-- BOOTBOX (dialogos de confirmacion) http://bootboxjs.com/ -->
	<script src="/node_modules/bootbox/bootbox.min.js"></script>

	<!-- ANGULAR  -->
	<script src="/node_modules/angular-animate/angular-animate.js"></script>

	<!-- LOADING BAR -->
	<script src="/node_modules/angular-loading-bar/build/loading-bar.min.js"></script>
	<link rel="stylesheet" href="/node_modules/angular-loading-bar/build/loading-bar.min.css" />

	<script src="/node_modules/angular-ui-bootstrap/ui-bootstrap-tpls.js"></script>

</head>

<body data-ng-controller="ConsultarRecetasController as consultarRecetasCtrl">

	<div class="container">
		<div class="page-header">
			<h3>Consultar Recetas</h3>
		</div>

		<!-- Busqueda y resultados -->
		<form role="form">
			<div class="row">
				<div class="col-lg-6">
						<div class="form-group">
							<label for="nombre">Nombre</label>
							<input ng-model="consultarRecetasCtrl.busqueda.nombre" class="form-control" id="nombre" placeholder="Nombre">
						</div>
				</div>
				<div class="col-lg-6">
					<div class="form-group">
						<label for="calorias-desde">Calorias</label>
						<div class="row">
							<div class="col-lg-6">
								<input ng-model="consultarRecetasCtrl.busqueda.caloriasDesde" class="form-control" id="calorias-desde" placeholder="Desde">
							</div>
							<div class="col-lg-6">
								<input ng-model="consultarRecetasCtrl.busqueda.caloriasHasta" class="form-control" id="calorias-hasta" placeholder="Hasta">
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-6">
					<div class="form-group">
						<label for="dificultad">Dificultad</label>
						<select ng-model="consultarRecetasCtrl.busqueda.dificultad" class="form-control" id="dificultad" placeholder="Dificultad">
							<option value="FACIL">FACIL</option>
							<option value="MEDIANA">MEDIANA</option>
							<option value="DIFICIL">DIFICIL</option>
						</select>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="form-group">
						<label for="temporada">Temporada</label>
						<input ng-model="consultarRecetasCtrl.busqueda.temporada" class="form-control" id="temporada" placeholder="Temporada">
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-6">
					<div class="form-group">
						<label for="ingrediente">Que contenga ingrediente</label>
						<input ng-model="consultarRecetasCtrl.busqueda.ingrediente" class="form-control" id="ingrediente" placeholder="Ingrediente" />
					</div>
				</div>
				<div class="col-lg-6">
					<div class="form-group">
						<label for="filtros-perfil">Aplicar filtros del perfil de usuario
							<input type="checkbox" ng-model="consultarRecetasCtrl.busqueda.aplicarFiltrosUsuario" class="form-control" id="filtros-perfil" />
						</label>
					</div>
				</div>
			</div>
		</form>

		<br />
		<div class="row text-center">
			<button type="button" class="btn btn-default" ng-click="consultarRecetasCtrl.buscarRecetas()">Buscar</button>
			<a href="/" class="btn btn-default">Volver</a>
		</div>
		<br />
		
		<!-- Boton desplegable -->
		<div class="accordion" id="accordion1">
			<div class="accordion-group">

				<div id="results" class="accordion-body">
					<div class="panel panel-default" style="opacity:0.8;">

						<div class="panel-body">
							<div class="table-responsive">
								<table class="table table-bordered table-hover table-condensed">
									<tbody>
										<tr class="header">
											<th>Nombre</th>
											<th>Calor&iacute;as</th>
											<th>Dificultad</th>
											<th>Temporada</th>
										</tr>
										<tr data-ng-repeat="receta in consultarRecetasCtrl.resultados" class="animate-repeat"
												ng-class="{'selected':$index == consultarRecetasCtrl.selectedRowReceta , 'publicas': {{receta.esPublica()}}}"
												ng-click="setClickedReceta($index)">

											<td class="col-xs-4">{{receta.nombre}}</td>
											<td class="col-xs-2">{{receta.calorias}}</td>
											<td class="col-xs-3">{{receta.dificultad}}</td>
											<td class="col-xs-2">{{receta.temporada}}</td>
										</tr>
									</tbody>
								</table>
							</div>

							<button type="button" class="btn btn-default">Ver</button>
						</div>
					</div>
				</div>

				<div class="alert alert-danger animate-repeat" ng-repeat="error in consultarRecetasCtrl.errors">{{error}}</div>

			</div>
		</div>
	</div>
</div>
<script src="/js/receta.js"></script>
<script src="/js/controllers.js"></script>
<script src="/js/services.js"></script>

</body>
</html>
