<!doctype html>
<html lang="en" ng-app="queComemosApp">

<head>
	<meta charset="utf-8">
	<title>Bienvenido a ¿Qué comemos?</title>

	<!-- JQUERY -->
	<script src="node_modules/jquery/dist/jquery.min.js"></script>

	<!-- BOOTSTRAP -->
	<link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap-theme.min.css">
	<script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>

	<script src="node_modules/underscore/underscore-min.js"></script>

	<!-- ANGULAR -->
	<script src="node_modules/angular/angular.min.js"></script>

	<!-- BOOTBOX (dialogos de confirmacion) http://bootboxjs.com/ -->
	<script src="node_modules/bootbox/bootbox.min.js"></script>

	<!-- ANGULAR  -->
	<script src="node_modules/angular-animate/angular-animate.js"></script>

	<!-- LOADING BAR -->
	<script src="node_modules/angular-loading-bar/build/loading-bar.min.js"></script>
	<link rel="stylesheet" href="node_modules/angular-loading-bar/build/loading-bar.min.css" />

</head>

<body data-ng-controller="RecetasController as recetasCtrl">

<div class="container">
	<div class="page-header">
		<h3 data-ng-controller="ContentController as contentCtrl">{{contentCtrl.mensajeInicio}}</h3>

	</div>

	<!-- Busqueda y resultados -->
	<div class="col-lg-12">
		<div class="filtro">
			<form role="form"></form>
		</div>
		<div class="table-responsive">
			<table class="table-bordered table table-striped table-hover table-condensed example-animate-container">
				<tbody>
				<tr>
					<th>Nombre</th>
					<th>Calor&iacute;as</th>
					<th>Dificultad</th>
					<th>Temporada</th>
				</tr>
				<tr data-ng-repeat="receta in recetas" class="animate-repeat"
					ng-class="{'selected':$index == recetasCtrl.selectedRow , 'publicas': {{receta.esPublica()}}}"
					ng-click="setClickedRow($index)">

					<td class="col-xs-4">{{receta.nombre}}</td>
					<td class="col-xs-2">{{receta.calorias}}</td>
					<td class="col-xs-3">{{receta.dificultad}}</td>
					<td class="col-xs-2">{{receta.temporada}}</td>

				</tr>
				</tbody>
			</table>
		</div>

		<br>
		<!-- Boton desplegable -->
		<div class="accordion" id="accordion1">
			<div class="accordion-group">

				<button type="button" ng-disabled="!recetasCtrl.recetaSelected" class="btn btn-info" data-toggle="collapse" data-target="#demo" >Ver Detalles</button>
				<br>
				<div id="demo" class="accordion-body collapse" >
					<div class="panel panel-default">

						<!-- Panel de arriba de toodo con datos principales -->
						<div class="panel-body">
							<h4>{{recetasCtrl.recetaSelected.nombre}}</h4>
							<h6>{{recetasCtrl.recetaSelected.calorias}} calorías. Creado por {{recetasCtrl.recetaSelected.autor}}</h6>
							<!-- no tenemos autor en publicas! -->



							<div class="col-lg-6">
								<div class="panel-title">
									<h4>Dificultad</h4>
								</div>
								<h6>{{recetasCtrl.recetaSelected.dificultad}}</h6>
								<br>
								<div class="panel-title">
									<h4>Ingredientes</h4>
								</div>
								<div class="panel-body">
									<table class="table table-striped table-hover table-condensed example-animate-container">
										<tbody>

										<tr>
											<th>Ingrediente</th>
											<th>Dosis</th>
										</tr>
										<tr data-ng-repeat="(Ingrediente, Dosis) in recetasCtrl.recetaSelected.ingredientes" class="animate-repeat">
											<td class="col-xs-4">{{Ingrediente}}</td>
											<td class="col-xs-2">{{Dosis}}</td>
										</tr>
										</tbody>
									</table>
								</div>
							</div>
							<!-- Fin columna izquierda -->

							<div class="col-lg-6">
								<div class="panel-title">
									<h4>Temporada</h4>
								</div>
								<h6>{{recetasCtrl.recetaSelected.temporada}}</h6>
								<br>
								<div class="panel-title">
									<h4>Condimentos</h4>
									<table class="table table-striped table-hover table-condensed example-animate-container">
										<tbody>
										<tr>
											<th>Condimento</th>
											<th>Dosis</th>
										</tr>
										<tr data-ng-repeat="(Condimento, Dosis) in recetasCtrl.recetaSelected.condimentos" class="animate-repeat">
											<td class="col-xs-4">{{Condimento}}</td>
											<td class="col-xs-2">{{Dosis}}</td>
										</tr>
										</tbody>
									</table>
								</div>
								<br>
								<div class="panel-title">
									<h4>Condiciones Preexistentes</h4>
								</div>
								<br>
							</div>
							<!-- Fin columna Derecha -->

						</div>
						<div class="panel-body">

							<input type="checkbox" name="recetaFavorita" value="recetaFavorita">Favorita<br>

							<div class="panel-title">
								<h4>Proceso de Preparación</h4>
							</div>
							{{paso}}
						</div>
					</div>
				</div>
			</div>

			<div class="alert alert-danger animate-repeat" ng-repeat="error in recetasCtrl.errors">{{error}}</div>

			<script src="js/receta.js"></script>
			<script src="js/controllers.js"></script>
			<script src="js/services.js"></script>
		</div>

		<style>
			.selected {
				background-color:black;
				color:white;
				font-weight:bold;
			}
			.publicas {
				background-color:#FFFF66;
			}
		</style>

	</div>
</body>
</html>
