<!DOCTYPE html>
<html lang="en" ng-app="queComemosApp">
<head>
    <meta charset="UTF-8">
    <title>Bienvenido a QueComemos - Login</title>
    <link rel="stylesheet" type="text/css" href="/css/login.css">

    <!-- JQUERY -->
    <script src="/node_modules/jquery/dist/jquery.min.js"></script>

    <!-- BOOTSTRAP -->
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap-theme.min.css">
    <script src="/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>

    <script src="/node_modules/underscore/underscore-min.js"></script>

    <!-- ANGULAR -->
    <script src="/node_modules/angular/angular.min.js"></script>

    <!-- BOOTBOX (dialogos de confirmacion) http://bootboxjs.com/ -->
    <script src="/node_modules/bootbox/bootbox.min.js"></script>

    <!-- ANGULAR  -->
    <script src="/node_modules/angular-animate/angular-animate.js"></script>

    <!-- LOADING BAR -->
    <script src="/node_modules/angular-loading-bar/build/loading-bar.min.js"></script>
    <link rel="stylesheet" href="/node_modules/angular-loading-bar/build/loading-bar.min.css" />

    <script src="/node_modules/angular-ui-bootstrap/ui-bootstrap-tpls.js"></script>

</head>
<body ng-controller="LoginController as loginCtrl">

<div class="container">
    <div class="card card-container">
        <img id="profile-img" class="profile-img-card center-block" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
        <p id="profile-name" class="profile-name-card"></p>
        <form class="form-signin">
            <span id="reauth-email" class="reauth-email"></span>
            <input type="text" id="inputUser" ng-model="loginCtrl.credentials.username" class="form-control" placeholder="Usuario" required autofocus>
            <input type="password" id="inputPassword" ng-model="loginCtrl.credentials.password" class="form-control" placeholder="Contraseña" required>
            <div id="remember" class="checkbox">
                <label>
                    <input type="checkbox" value="remember-me">Recordarme
                </label>
            </div>
            <input class="btn btn-lg btn-primary btn-block btn-signin" type="submit" ng-click="loginCtrl.ingresar()" value="Ingresar" />
            <p class="ng-hide" ng-show="loading"><img src="https://app.userapp.io/img/ajax-loader-transparent.gif"></p>

        </form><!-- /form -->

        <div class="alert alert-danger animate-repeat" ng-repeat="error in loginCtrl.errors">{{error}}</div>

        <a href="#" class="forgot-password">
            Olvide mi contraseña
        </a>
    </div><!-- /card-container -->
</div><!-- /container -->

<!-- Scripts -->
<script src="/js/routes.js"></script>
<script src="/js/controllers.js"></script>
<script src="/js/servicesUsuario.js"></script>

</body>
</html>